.hostelImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.bellIcon{
    font-size: 30px;
}
.navContainer{
    background-color: burlywood;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}