.tenants{
    display: flex;
    .tenantsContent{
        width: 100vw;
        // flex: 6;

        .tenantsMain{
            margin: 10px;
            .top{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    background-color: aliceblue;
}