.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.top-bar-left {
  display: flex;
  align-items: center;
}

.top-bar-right h1 {
  margin: 0;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.input-room,
.input-date,
.input-amount,
.input-method,
.input-partial,
.select-name,
.select-method,
.select-status {
  flex: 1 1 20px; /* Adjust width based on your preference */
  padding: 8px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.table-container {
  margin-top: 20px;
}

.mui-table {
  width: 100%;
}

.table-cell {
  padding: 8px;
}

.status {
  padding: 4px 8px;
  border-radius: 4px;
  color: #fff;
}

.status.Pending {
  background-color: #ffcc00;
}

.status.Partial {
  background-color: #ff6600;
}

.status.Paid {
  background-color: #00cc66;
}