*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logoImg{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}
.mainContainer{
    margin: 1rem;
}
.logo{
    display: flex;
    align-items: center;
}
.navItems{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 2rem;
    justify-content: end;
}
.navItems>li{
    cursor: pointer;
}
.navItems>li:hover{
    color: salmon;
    transition: all 0.3s;
}
/* signup page */
.signinTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
::placeholder{
    font-size: 20px;
}
.signinContainer{
    width: 27vw;
    margin: auto;
    box-shadow: 2px 2px 4px gray;
    padding: 60px 30px;
    border-radius: 10px;
    margin-top: 25vh;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.emptyMsg{
    color: red;
    font-size: 15px;
}
.btn-primary:disabled{
    background-color: gray !important;
}

/* media queries */
@media all and (max-width:1024px){
    .signinContainer{
        width: 60vw;
        margin-top: 25vh;
    }
}
@media all and (max-width:768px){
    .signinContainer{
        width: 60vw;
        margin-top: 25vh;
    }
}
@media all and (max-width:480px){
    .signinContainer{
        width: 80vw;
        min-height: 50vh;
        margin-top: 25vh;
    }
}
@media all and (max-width:250px){
    .signinContainer{
        width: 80vw;
        min-height: 50vh;
        margin-top: 25vh;
        padding: 10px;
    }
    ::placeholder{
        font-size: 15px;
    }
    .signinTitle{
        font-size: 19px;
        font-weight: bold;
    }
}
/* forgot password */
.loginBtn{
    min-width: 10vw;
    margin: auto;
    background-color: rgba(2, 14, 14, 0.863);
}


