@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* signup page */
.signinTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2.1rem;
}
::placeholder{
    font-size: 20px;
}
.signinContainer{
    width: 30vw;
    margin: auto;
    box-shadow: 2px 2px 4px gray;
    padding: 60px 30px;
    border-radius: 10px;
    margin-top: 10rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.emptyMsg{
    color: red;
    font-size: 15px;
}
.btn-primary:disabled{
    background-color: gray !important;
}
/* forgot password */
.loginBtn{
    min-width: 10vw;
    margin: auto;
    background-color: rgba(2, 14, 14, 0.863);
}
/* Navbar */
.hostelImg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.bellIcon{
    font-size: 30px;
}
.navContainer{
    background-color: burlywood;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
/* sidebar */
.sidebarContainer{
    background-color: #312E81;
    width: fit-content;
    height: 90vh;
}
.sidebarContainer>ul>li{
    list-style: none;
    font-size: 20px;
    color: #A5B4FD;
    font-family: Roboto;
    text-decoration: none;
    cursor: pointer;
}
ul{
    padding: 20px 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    justify-content: space-around;
}
.sidebarTitle{
    font-size: 25px;
    color: #A5B4FD;
    cursor: pointer;
}
.sidebarContainer>ul>li:hover,.sidebarTitle:hover{
    color: white;
}
/* media queries */
@media all and (max-width:1024px){
    .signinContainer{
        width: 60vw;
        margin-top: 15vh;
    }
}
@media all and (max-width:768px){
    .signinContainer{
        width: 80vw;
        margin-top: 15vh;
    }
}
@media all and (max-width:480px){
    .signinContainer{
        width: 80vw;
        margin-top: 15vh;
    }
    .sidebarContainer{
        background-color: #312E81;
        width: 30vw;
        height: 90vh;
    }
    .sidebarContainer>ul>li{
        font-size: 15px;
        padding: 10px 2px;
    }
}
@media all and (max-width:250px){
    .signinContainer{
        width: 80vw;
        min-height: 50vh;
        margin-top: 18vh;
        padding: 10px;
    }
    ::placeholder{
        font-size: 15px;
    }
    .signinTitle{
        font-size: 19px;
        font-weight: bold;
    }
}



